body {
  padding-top: 0px; /* Move body of page below navbar. */
  /*background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/charcoal-background.jpg");*/
  background-color: darkslategrey;
  background-repeat: no-repeat;
}

#create-study-session-modal {
  padding: 10px 10px 10px 10px; /* Add padding to the edges of the modal. */
}

p {
  font-size: medium;
}

.border {
  border-color: white;
  border-style: solid;
}

.ui.segment {
  border-radius: 0px;
}

.ui.vertical.fluid.pointing.menu {
  color: white;
  background-color: #25A574;
}

#login-buttons a, .accounts-dialog a {
  color: white;
}

.ui.raised.card.profile {
  padding: 10px 10px 10px 10px;
}

a.login-close-text {
  color: black !important;
}

#create-review-button {
  background-color: #25A574;
  color: white;
  margin-bottom: 10px;
}

.remove-member {
  color: white;
}

.remove-member:hover{
  color: black;
}

/*Calendar Style*/
/*.fc-event-container {*/
/*padding: 5px !important;*/
/*}*/

/*.fc-event {*/
/*padding: 5px 10px;*/
/*border-color: #ddd;*/
/*background: #fff !important;}*/

/*.fc-content {*/
/*color: #444;*/
/*}*/

/*h4,*/
/*h5 {*/
/*margin: 0;*/
/*font-weight: normal;*/
/*}*/

/*h4 {*/
/*color: #666;*/
/*font-size: 13px;*/
/*line-height: 18px;*/
/*white-space: normal;*/
/*}*/

/*h5 {*/
/*color: #888;*/
/*font-size: 12px;*/
/*margin-top: 5px;*/
/*}*/

.fc-event-container {
  /*padding: 5px !important;*/
}

.fc-event {
  padding: 1px 3px;
  border-color: #ddd;
  background: #25A574 !important;
}

.fc-content {
  color: white;
}

.calendar-course {
  margin: 0;
  font-weight: normal;
}
.calendar-topic {
  margin: 0;
}
